- content_for :title, "Еще один блог который ведет программист, ага!"
- content_for :back_url, "/images/head_back.jpg"
.post-preview
  %a{:href => "post.html"}
    %h2.post-title
      Каждый охотник желает знать где сидит фазан!
    %h3.post-subtitle
      Каждый раз когда я верстаю под рельсы - я использую HAML
  %p.post-meta
    Опубликовано
    %a{:href => "#"} Lazy Beat
    on Jule 28, 2016
%hr
  .post-preview
    %a{:href => "post.html"}
      %h2.post-title
        I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
    %p.post-meta
      Posted by
      %a{:href => "#"} Start Bootstrap
      on September 18, 2014
  %hr
    .post-preview
      %a{:href => "post.html"}
        %h2.post-title
          Science has not yet mastered prophecy
        %h3.post-subtitle
          We predict too much for the next year and yet far too little for the next ten.
      %p.post-meta
        Posted by
        %a{:href => "#"} Start Bootstrap
        on August 24, 2014
    %hr
      .post-preview
        %a{:href => "post.html"}
          %h2.post-title
            Failure is not an option
          %h3.post-subtitle
            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
        %p.post-meta
          Posted by
          %a{:href => "#"} Start Bootstrap
          on July 8, 2014
      %hr
        / Pager
        %ul.pager
          %li.next
            %a{:href => "#"} Older Posts &rarr;
