/ Page Header
/ Set your background image for this header on the line below.
- content_for :title, "Про вот это всё, ага"
- content_for :back_url, "/images/about_back.jpg"
.page-heading
  %h1 Что это и зачем?
  %hr.small
    %span.subheading Краткий обзор.

%p Всем привет! Меня зовут Евгений, я основатель и иногда единственный член творческой шайки "Lazy Beat". Все что вы когда-нибудь слышали о нас и нашей деятельности может оказаться чистой правдой! Я предупредил! :)
.well
  %b Историческая справка:
  %p в 2009 году несколько инициативных молодых людей озадачились вопросом – как бы им сделать что-нибудь крутое и решили делать музыку. Коммерчески успешно её продвигать и веселиться, ага.
  %p в 2016 году основатель сменил город дислокации и углубился в веб-разработку с помощью Ruby on Rails и этот ресурс пережил реинкарнацию как веб-приложение и почти персональный блог.

%p Версия 0.2beta
