/ Page Header
/ Set your background image for this header on the line below.
%header.intro-header{:style => "background-image: url('/images/head_back.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1 Lazy Beat
          %hr.small
            %span.subheading Такая тема – врубайся страна! Люди хотят поэзии, на!
